<html>
    <head>
        <title>The Tech Blog: 404 Error</title>
        <link rel="stylesheet" href="/static/css/google-fonts.css">
        <link rel="stylesheet" href="/static/css/blog.css">
    </head>
    <body>
        <div class="err-404">
            404
        </div>
        <div class="msg-404">
            The Page You Requested Is Not Available.
        </div>

        <!-- Footer -->
        <div class="footer">
            &copy; 2015-2017 The Tech Blog, Bangalore. All Rights Reserved.
        </div>
    </body>
</html>
