{% load staticfiles %}
<html>
    <head>
        <title>{% block title %}The Tech Blog{% endblock %}</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Share Tech&subset=latin,latin-ext" type="text/css">
        <link rel="stylesheet" href="{% static "css/blog.css" %}">
        <link rel="stylesheet" href="{% static "css/login.css" %}">
        <link rel="stylesheet" href="{% static "css/menu.css" %}">
    </head>
    <body>
        <!-- Top menu -->
        <span class='today-date'>{% now "jS F Y H:i" %} IST</span>
        {% include "blog/topmenu.html" %}

        <!-- Header image -->
        <img src="{% static 'images/header.jpg' %}" style="width:100%">
        <div class="page-header">
            <h1 class="site-title-header"><a href="{% url 'blog:post_list' %}">The<br>Tech<br>Blog</a></h1>
        </div>

        <!-- Main menu -->
        {% include "blog/mainmenu.html" %}

        <!-- Breadcrumbs -->
        {% include "blog/breadcrumbs.html" %}
                
        <!-- Main content -->
        <div class="content">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
